/*** color References *****
primary color  #336699
accent color   #d35147 #cc6633
white
tinted dark grey #5d636a #666666
tinted light grey #bac6cd #cccccc

*/



div.lft-radio {
    position: absolute;
    width: 180px;
    height: 460px;
}

div.radio {
    display: flex;
    flex-direction: vertical;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

div#volup, div#pause-play, div#voldn {
    font-size: 600%;
    color: #336699;
    text-align: center;
    width: 180px;
}


div#radio-title {
    text-align: center;
    font-size: 75%;
    color: #336699;
}

div#program-title {
    font-size: 200%;
    text-align: center;
    color: #336699;
}

div#on-next {
    font-size: 120%;
    text-align: center;
    color: #59636a;
}

div.clock {
    position: absolute;
    left: 160px;
    top: 0 px;
}

pressed {
    color: #d35147;
}