/*** color References *****
primary color  #336699
accent color   #d35147 #cc6633
white
tinted dark grey #5d636a #666666
tinted light grey #bac6cd #cccccc
complementary yellow #ecc422

*/

p {
    margin: 0 0 0 0;
}

div.lft-radio {
    position: absolute;
    width: 180px;
    height: 460px;
}

div.radio {
    display: flex;
    flex-direction: vertical;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

div#volup, div#pause-play, div#voldn {
    font-size: 600%;
    color: #336699;
    text-align: center;
    width: 180px;
}


div#radio-title {
    text-align: center;
    font-size: 75%;
    color: #336699;
}

div#program-title {
    font-size: 200%;
    text-align: center;
    color: #336699;
}

div#on-next {
    font-size: 120%;
    text-align: center;
    color: #59636a;
}

div.clock {
    position: absolute;
    left: 140px;
    top: 0 px;
}

pressed {
    color: #d35147;
}

div.weather {
    position: absolute;
    top: 0;
    left: 0;
}

div#current {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    left: 480px;
    top: 12px;
    width: 220px;
}

div#now {
    position: absolute;
    left: 260px;
    top: 100px;
    width: 180px;
    height: 100px;
}

canvas#icon {
    position: relative;
}

span.temp {
    position: relative;
    text-align: right;
    color: #336699;
    font-size: 48px;
    top: -20px;
}

p#summary, p#nextHour, p#nextDay {
    position: relative;
    font-size: 18px;
    color: #59636a;
}

div#week {
    position: absolute;
    left: 200px;
    top:  200px;
    width: 600px;
}

p#summary {
    font-size: 24px;
}

div#weeklines {
    position: relative;
    height: 32px;
}

span#dayName, span#daySumm, span#hiTemp, span#loTemp {
    color: #336699;
    font-size: 18px;
}

span#arrow {
    color: #d35147;
    font-size: 24px;
}

canvas.daycons {
    top: 6px;
}
